button {
  background-color: #157a9e;
  border: none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  color: #FFF;
  display: block;
  font-weight: bold;
  height: 40px;
  margin: 0 auto;
  min-width: 100px;
  padding: 0;
}
button:hover {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}
