ul {
  padding: 10px;
}

li {
  display: block;
  box-sizing: border-box;
  height: auto;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  font-size: 2em;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

a {
  height: 100%;
  display: block;
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.order {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li button {
  font-size: 1rem;
  float: right;
  margin-left: 10px;
}
